#contenido {
    background-color: whitesmoke;
    position: fixed;
    top: 12%;
    bottom: 8%;
    left: 14%;
    right: 0;
    overflow: auto;
    padding-left: 15px;
}

#contenido h2 h3{
    margin-left: 25px;
    margin-right: 25px;
}

#contenido p {
    margin-left: 25px;
    margin-right: 25px;

    font-family: Baskerville Old Face;
    font-size: 18px;
    text-align: justify;
}

/*segundo contenido*/
#contenido2 {
    background-color: whitesmoke;
    position: fixed;
    top: 12%;
    bottom: 8%;
    left: 24%;
    right: 0;
    overflow: auto;
    padding-left: 15px;
}

#contenido2 h2 h3{
    margin-left: 25px;
    margin-right: 25px;
}

#contenido2 p {
    margin-left: 25px;
    margin-right: 25px;

    font-family: Baskerville Old Face;
    font-size: 18px;
    text-align: justify;
}

#contenido iframe{
    margin-left: 25px;
}

#contenido form{
    margin-left: 25px;
}

#contenido img {
    margin-left: 70px;
    margin-right: 70px;
}

.contactos {
    display: flex;
    justify-content: space-around;
}

.img {
    display: flex;
    justify-content: space-around;
}

.audio {
    position: absolute;
    left: -9999px;
}

.content {
    display: flex;
    justify-content: space-evenly;
}

.precios {
    display: flex;
    justify-content: space-around;
}

.rectangulos {
    width: 1100px;
    height: 2px;
    background: #BA0001;
    position: relative;
    left: 80px;
}